@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Entities.SelectByUnSoldProduct_Result>
@{
    ViewBag.Title = "UnSold";
    Layout = "~/Views/Shared/_FilterLayout.cshtml";
}

<h2>Hiç Satılmayan Ürünler</h2>
<hr />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ürün Id</th>
            <th>Ürün İsmi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="tdRow">@item.ProductId</td>
                <td id="tdRow" nowrap>@item.ProductName</td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("UnSold", new { page }))