<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
        .navbar .dropdown-menu .form-control {
            width: 200px;
        }
    </style>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="~/Home/Index">AGT Proje</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Index">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Product/Index">Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Customer/Index">Müşteriler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Report/Index">Raporlama İşlemleri</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
</body>
</html>